@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Monoton");
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  * :focus {
    outline: none; }

html, body {
  font-family: "Montserrat", sans-serif;
  background: #222;
  padding: 2rem 3rem;
  height: 100%; }

img {
  max-width: 100%; }

.wrapper {
  display: grid; }

header {
  font-family: "Monoton", cursive;
  text-align: center;
  background: -webkit-linear-gradient(#0077aa, #19aaaa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }
  header h1 {
    font-size: 3rem; }
  header h2 {
    font-size: 1.5rem; }

section {
  display: grid;
  grid-gap: 20px;
  text-align: center;
  margin-top: 5rem; }

.btn--input {
  background-color: #333;
  color: #fff;
  padding: 0.6rem 1.3rem;
  border: 0;
  padding: 1.5rem;
  -webkit-box-shadow: 3px 2px 5px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 3px 2px 5px 0px rgba(0, 0, 0, 0.35); }

.btn--input:hover {
  background-color: #0077aa;
  color: #fff;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease; }

.input__header {
  color: #0077aa; }

.input__money {
  padding: 1.5rem;
  border: 0;
  -webkit-box-shadow: 3px 2px 5px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 3px 2px 5px 0px rgba(0, 0, 0, 0.35); }

.result {
  color: #fff; }
  .result img {
    -webkit-box-shadow: 3px 2px 5px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 3px 2px 5px 0px rgba(0, 0, 0, 0.35); }

footer {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 5rem; }
