@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Monoton");
html, body {
  font-family: "Montserrat", sans-serif;
  background: #222;
  padding: 2rem 3rem;
  height: 100%; }

img {
  max-width: 100%; }

.wrapper {
  display: grid; }
