@import url('https://fonts.googleapis.com/css?family=Montserrat');
// Main Font
$font-main: 'Montserrat', sans-serif;

body {
font-family: $font-main;
// background color
background: #e6e9f0;
background: -webkit-linear-gradient(top left,#e6e9f0,#eef1f5);
background: -moz-linear-gradient(top left,#e6e9f0,#eef1f5);
background: linear-gradient(top left,#e6e9f0,#eef1f5);
height: 95vh;
}
