body {

  background: #0077aa;
          background: -webkit-linear-gradient(left,#0077aa,#19aaaa);
          background: -moz-linear-gradient(left,#0077aa,#19aaaa);
          background: linear-gradient(left,#0077aa,#19aaaa);


}
