@import url('https://fonts.googleapis.com/css?family=Montserrat');
// Main Font
$font-main: 'Montserrat', sans-serif;

body {
font-family: $font-main;
background: #EFEFBB;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #D4D3DD, #EFEFBB);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #D4D3DD, #EFEFBB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
