section {
  padding: 5rem;
  display: flex;
  justify-content: center;
  display: grid;
}

.input {
display: flex;
align-self: center;
}

.input__text {
  padding-right: 2rem;

}

.input__money {
flex-wrap: wrap;
}

.btn--green {
  background: green;
  border: none;

}
