section {

}

.input {
  display: flex;
  justify-content: center;

}

.input__text {
  display: flex;
  justify-content: center;
  margin-top: 4rem;

}

.input__money {
border-radius: 2rem;
width: 10rem;
padding: 1rem;
margin-right: 2rem;

}

.btn--input {
  width: 9rem;
  border-radius: 2rem;
  padding: 1rem;
  color: white;
  background: #0077aa;
  box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
}
