section {
  display: grid;
  width: 100%;
  grid-template-columns: 50% 25% 25%;
  display: flex;
  justify-content: center;
  padding-top: 4rem;
}

.input {
  margin-top: 5rem;
}

.input__text {
  padding-right: 2rem;

}

.input__money {
border-radius: 2rem;
margin-right: 20px;

}

.btn--green {
  border-radius: 2rem;
}
